body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.fullscreen {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

nav {
    position: relative;
    height: 100vh;
    width: 10vw;
    background-color: #1e3190;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    box-sizing: border-box;
    padding-top: 20vh;
}

nav img {
    position: absolute;
    top: 5vh;
    left: calc(50% - 30px);
}

nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 2vw;
}

.container {
    height: 100vh;
    width: 90vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

h1 {
    font-size: 30px;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

span {
    color: #1e3190;
    font-size: 14px;
}

.content-container {
    height: 65vh;
    width: 80vw;
    padding: 2.5vw;
    background-color: rgb(221, 221, 245);
    border-radius: 4px;
    margin-top: 5vh;
}

table {
    height: 60vh;
    width: 75vw;
    margin-left: 0.5vw;
    color: #1e3190;
    font-size: 20px;
    font-weight: bold;
    table-layout: fixed;
}

table input, select, textarea {
    width: 30vw;
    height: 7vh;
    border-radius: 4px;
    border: 1px solid grey;
    font-size: 16px;
    padding: 8px;
    box-sizing: border-box;
}


textarea {
    height: 12vh !important;
}

#select-date {
    background: url(../img/icons8-calendar-150.png) no-repeat right white;
    background-position-x: 26vw;
}

::-webkit-calendar-picker-indicator{
    width: 4vw;
    height: 7vh;
    border-left: 5px solid black !important;
    opacity: 0;
}

#assigned-to-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 30vw;
    overflow: auto;
}

#assigned-to-container img {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
}

.highlight-selected-user {
    border: 5px solid #1e3190;
}

.assigned-to-buttons {
    position: absolute;
    bottom: 13vh;
    right: 17vw;
    
}

.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    gap: 12px;
}

#cancel-button {
    outline: none;
    border: none;
    background-color: transparent;
}

#create-task-button {
    margin-left: 5vw;
    background-color: #1e3190;
    color: white;
}

#cancel-button, #create-task-button {
    padding: 12px !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    font-size: 18px !important;
    font-family: 'PT Sans', sans-serif !important;
}

#selected-user {
    display: none;
}

.clear-all-inputs {
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 150px;
    width: 300px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    z-index: 99;
    background-color: rgba(30, 49, 144, 0.8);
    border-radius: 8px;
}

.clear-all-inputs span {
    color: white !important;
    font-size: 24px;
}

.clear-all-inputs button {
    width: 120px;
    background-color: white;
    color: #1e3190;
    font-weight: bold;
}

.flex-direction-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}



