/*#### ###########*/

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}


/*##################*/

main {
    padding: 8px;
    width: 100%;
}

.ticked {
    justify-content: space-between;
    font-size: 12px;
    display: flex;
    height: 60px;
    width: 100%;
    background-color: lightgrey;
    border-radius: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.btn-frame {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 40px;
}

.btn-frame img:hover {
    cursor: pointer;
}

.showColor {
    width: 16px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.showColor:hover {
    cursor: pointer;
}

.userimg {
    padding: 4px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userimg:hover {
    cursor: pointer;
}

.userimg img {
    box-sizing: border-box;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    padding: 2px;
}

.userinfo {
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 200px;
    margin-right: 32px;
}

.username {}

.email {
    color: dodgerblue;
}

.category {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
    width: 100px;
}

.details {
    padding: 4px;
    word-break: normal;
    width: 300px;
}

.tablehead {
    color: blue;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.container h1 {
    margin-bottom: 0;
}

.container p {
    margin-top: 0;
    color: blue;
}


/*####################################################*/

@media (max-width: 1000px) {
    nav {
        display: flex;
        width: 100vw;
        height: 50px;
        background-color: #1e3190;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        position: unset;
        flex-direction: unset;
    }
    nav img {
        position: unset;
        width: 30px;
    }
    .fullscreen {
        display: unset;
    }
}